.profile__avatar-button {
    border: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url(../../../images/profile-avatar-button.svg);
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 50%;
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor: pointer;
    outline: none;
}

.profile__avatar-button:hover {
    opacity: 0.8;
}