.register__text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 15px 0 0;
}

@media screen and (max-width: 767px) {
    .register__text{
        margin-top: 20px;
    }
}