@import url(./vendor/normalize.css);
@import url(./vendor/font.css);

@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__signout-button/header__signout-button.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__avatar-image/profile__avatar-image.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__container/elements__container.css);
@import url(./blocks/elements/__like-button/elements__like-button.css);
@import url(./blocks/elements/__text/elements__text.css);
@import url(./blocks/elements/__like-button/_active/elements__like-button_active.css);
@import url(./blocks/elements/__delete-button/elements__delete-button.css);
@import url(./blocks/elements/__delete-button/_hidden/elements__delete-button_hidden.css);
@import url(./blocks/elements/__like-container/elements__like-container.css);
@import url(./blocks/elements/__likes-number/elements__likes-number.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(./blocks/popup/__fields/popup__fields.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__input/_invalid/popup__input_invalid.css);
@import url(./blocks/popup/__icon/popup__icon.css);
@import url(./blocks/popup/__text/popup__text.css);

@import url(./blocks/register/register.css);
@import url(./blocks/register/__text/register__text.css);
@import url(./blocks/register/__link/register__link.css);
@import url(./blocks/login/login.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__submit-button/form__submit-button.css);